html {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 50px;
  margin: 20px;
}

h1 {
  color: #333;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
input {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

.feature-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.feature-card h4 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.feature-card div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature-card a {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.feature-card a:hover {
  background-color: #0056b3;
}

.feature-card a:active {
  background-color: #003f7f;
}

.homepage-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 5%;
}

.homepage-button:hover {
  background-color: #0056b3;
}

.homepage-button:active {
  background-color: #003f7f;
  transform: scale(0.98);
}

.homepage-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.4);
}

#result-card {
  display: none; /* Start hidden */
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #eaf8e6; /* Light green */
  color: #2d572c; /* Dark green */
  font-weight: bold;
}

#map-container {
  flex-grow: 1; /* Takes the remaining space */
  padding: 10px;
  text-align: center;
}
